<div class="card mt-5">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="email">Email:</label>
          <input type="email" formControlName="email" id="email">
          <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
                Email is required
          </div>
        </div>
      
        <div>
          <label for="password">Password:</label>
          <input type="text" formControlName="password" id="password">
          <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
            Password is required
          </div>
        </div>
      
        <div>
          <label for="name">Name:</label>
          <input type="text" formControlName="name" id="name">
          <div *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">
            Name is required
          </div>
        </div>
      
        <div>
          <label for="gender">Gender:</label>
          <select formControlName="gender" id="gender">
            <option value="" disabled selected>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <div *ngIf="registrationForm.get('gender').invalid && registrationForm.get('gender').touched">
                Gender is required
          </div>
        </div>
      
        <button type="submit" [disabled]="!registrationForm.valid">Submit</button>
      </form>
</div>
  