<div class="mt-2 p-3">
    <div class="field">
        <label for="selectdate">Select Date</label>
        <p-calendar styleClass="calendarStyle text-base" (onMonthChange)="catchMonthCalendar($event)"
            [(ngModel)]="todaysDate" [inline]="true" [showWeek]="false">
            <ng-template pTemplate="date" let-date>
                <span (click)="getAbsentDates(date)"
                    [ngClass]="{'dateSelected': (onlyAbsentDate.includes(date.day) && date.selectable),'presentDateSelected':(onlyPresentdays.includes(date.day) && date.selectable),'alreadyAbsentDateSelected':(alreadyAbsentDays.includes(date.day) && date.selectable),'holidaysSelected':(onlyYearHoliday.includes(date.day) && date.selectable)}">{{date.day}}</span>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex flex-wrap align-items-center gap-3 p-2  mt-2">
                    <div *ngFor="let item of holidaysWithDesc">
                        <p-tag styleClass="bg-yellow-400 text-gray-600"
                            value="{{item.date}} {{item.month}} - {{item.status}}"></p-tag>
                    </div>
                </div>
            </ng-template>
        </p-calendar>
    </div>
    <form [formGroup]="requestDates" (ngSubmit)="onRequestleave()">
        <div class=" flex  align-items-center gap-4 p-1">

            <div class="flex flex-column gap-2">
                <div class="flex gap-1 align-items-center">
                    <div class="h-1rem w-1rem bg-red-500 border-round-sm"></div><span class="text-sm">Selected
                        date</span>
                </div>

                <div class="flex gap-1 align-items-center">
                    <div class="h-1rem w-1rem bg-pink-200 border-round-sm"></div><span class="text-sm">Absent
                        days</span>
                </div>
            </div>

            <div class="flex flex-column gap-2">
                <div class="flex gap-1 align-items-center">
                    <div class="h-1rem w-1rem bg-yellow-400 border-round-sm"></div><span class="text-sm">Holidays</span>
                </div>

                <div class="flex gap-1 align-items-center">
                    <div class="h-1rem w-1rem bg-green-400 border-round-sm"></div><span class="text-sm">Present
                        days</span>
                </div>
            </div>

        </div>
        <div class="field mt-3">
            <label for="category">Category</label>
            <p-dropdown styleClass="max-w-full w-full text-base" [options]="categoryReason" formControlName="category"
                optionLabel="name" [showClear]="true" placeholder="Select a category"></p-dropdown>
        </div>
        <div class="field">
            <label for="desc">Reason</label>
            <textarea pInputTextarea class="p-2 w-full text-base" cols="43" rows="5" formControlName="desc"
                placeholder="Add your reason..." id="Reason"></textarea>
        </div>
        <div class="p-2 grid justify-content-center mt-5"><p-button [raised]="true" type="Submit" label="Apply"
                styleClass="bg-primary p-button-sm"></p-button></div>
    </form>
</div>