::ng-deep .calendarStyle{
    width: 90vw;
    user-select: none;
}
.dateSelcted{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: red;
}