<section class="main">
    <div class="login-container container">
        <div class="login-img"><img src="../../assets/loginbg.png" alt="" width="100%" height="100%"></div>
        <form class="login-inputs" [formGroup]="loginForm">
            
            <input class="minput" autocomplete="false" formControlName="email" type="email" name="" id="" placeholder="Email or Phone">
            <div class="mpassword">
                <input class="minput" autocomplete="false" formControlName="password" [type]="ptype" name="" id=""
                    placeholder="Password">
                <span class="show-eye"  (click)="passwordAction()">
                    @if(!showPassword){
                    <img src="../../assets/show-eye.svg" alt="" >
                    }@else {
                    <img src="../../assets/mdi_hide.svg" alt="">
                    }

                </span>
            </div>
            <button class="button" pRipple (click)="empLogin()" type="submit">Login</button>
            <div class="or_option"><span>or</span>
                <hr>
            </div>
            <button class="button admin-button" type="submit">Login as admin</button>

        </form>


    </div>

</section>