.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7rem;
    border-top:0.063rem solid #E9E9E9;
  }
  
  th, td {
    padding:1rem 0.625rem;
    border: 0;
  }
  
  .grey-row {
    background-color: #f9f9f9;
  }

  .today-active {
    background-color: #EBF6F5;
  }

  tr{
    text-align: center;
  
  }

  