<!-- table-component.component.html -->
<table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Day</th>
        <th>Status</th>
        <th>In</th>
        <th>Out</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
        @for(row of tableData;track $index){
        <tr [class.today-active]="row.date == todaysDate" [class.isAbsent]="row.status == 'Absent'" [class.grey-row]="row.status == 'Holiday'">
        <td>{{ row.date }}</td>
        <td>{{ row.day }}</td>
        <td>{{ row.status }}</td>
        <td>{{ row.in  | safeDate}}</td>
        <td>{{ row.out | safeDate}}</td>
        <td>{{ row.hours | decimalTimeShort}}</td>
       </tr>
        }@empty{
          <tr>
            <td colspan="7" class="text-center">No Entries to show!</td>
          </tr>
        }
    </tbody>
  </table>
  
