
<div class="container">
<div class="p-2 py-3">
@if (noticeData$ | async; as noticeDatas){
@for(noticeData of noticeDatas;track noticeData._id){
<div class="mt-3 w-full bg-gray-100  border-round">
    <div class="flex align-items-center gap-2 px-2 pt-2 ">
    @if(noticeData.profilePic){
    <p-avatar [image]="noticeData.profilePic" shape="circle" />
    }@else {
    <p-avatar [label]="noticeData.name[0]" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle" />
    }
    <div class="flex justify-content-between w-full">
        <label for="name" class="font-bold px-2 mt-1">{{noticeData.name}}</label>
    </div>
</div>
    <div class="w-full">
        <div class="p-2">
        <label for="dates">Dates : </label>
        @for(item of noticeData.toFromAbsent;track $index){
        <span class="ml-1 line-height-3">{{item}},</span>
        }
        </div>
        <div class="p-2">
            <label for="message">Message :</label>
            <p>{{noticeData.message}}</p>
        </div>
        <div class="flex justify-content-end p-2 mt-3">
            <span class="text-sm text-400">{{noticeData.date | date}}</span>
        </div>
    </div>
</div>
}@empty {
    <div class="text-center">No Message Available.</div>
}
}@else{
    <p-skeleton height="7rem" styleClass="mb-3"></p-skeleton>
    <p-skeleton height="7rem" styleClass="mb-3"></p-skeleton>
    <p-skeleton height="7rem" styleClass="mb-3"></p-skeleton>
    <p-skeleton height="7rem" styleClass="mb-3"></p-skeleton>
    <p-skeleton height="7rem" styleClass="mb-3"></p-skeleton>
    <p-skeleton height="7rem" styleClass="mb-3"></p-skeleton>
}
</div>
