<p-confirmDialog></p-confirmDialog>
@defer (when allInternsList) {
<div class="p-2  mt-3 flex flex-column w-full">
  <p-table [value]="allInternsList" [tableStyle]="{ 'min-width': 'auto' }" [rowHover]="true"
    styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" pSortableColumn="name">Name<p-sortIcon field="user.name"></p-sortIcon></th>
        <th class="text-center">Designation</th>
        <th class="text-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td class="text-center">{{user.name}}</td>
        <td class="text-center">{{user.designation}}</td>
        <td class="text-center">
          <div class="flex justify-content-center align-items-center gap-1">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
              (click)="sidebarVisible(user)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteUser(user)"></button>
          </div>
        </td>
      </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" class="text-center text-red-400">No data found!</td>
      </tr>
    </ng-template>
  </p-table>


  <p-sidebar [(visible)]="isSidebarVisible" position="right">
    <ng-template pTemplate="header">
      <h3>Edit Intern Details</h3>
    </ng-template>
    <ng-template pTemplate="content">
      <hr>
      <form class="p-1 flex flex-column gap-3" [formGroup]="updateUserDetails" (ngSubmit)="onSubmit()">

        <div class="flex flex-column gap-1">
          <label>Email :</label>
          <input type="email" pInputText formControlName="email" />
        </div>

        <div class="flex flex-column gap-1">
          <label>Designation :</label>
          <input type="text" pInputText formControlName="designation"
            onkeydown="return /[A-Za-z -]/i.test(event.key)" />
        </div>

        <div class="flex flex-column gap-1">
          <label>Reporting To :</label>
          <input type="text" pInputText formControlName="reportingTo"
            onkeydown="return /[A-Za-z -]/i.test(event.key)" />
        </div>

        <div class="flex flex-column gap-1">
          <label>Team Name :</label>
          <input type="text" pInputText formControlName="teamCategory"
            onkeydown="return /[A-Za-z -]/i.test(event.key)" />
        </div>

        <div class="text-right  mt-3">
          <button pButton pRipple label="Update" type="submit" style="height: 2rem; font-size: medium;width: 100%;"
            class="p-button-success"></button>
        </div>

      </form>
    </ng-template>
  </p-sidebar>
</div>
}