.admin-dashboard{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    margin: 2rem 0;
    position: relative;
    
}

.search-bar{

    border: transparent;
    border-radius: 25px;
    background: #F3F3F3;
    width: 23.75rem;
    height: 3.25rem;
    padding: 0 1.2rem;
    font-size: 1rem;
}

.magnifyicon{
   position: absolute;
   cursor: pointer;
   top: 1rem;
   right: 1.2rem;
}