
<div class="container">
  <h2 class="text-center">Admin</h2>
  <p-table  #dt1 [value]="usersData" [tableStyle]="{ 'min-width': 'auto' }"  selectionMode="single" [(selection)]="selectedUser" dataKey="email"   [globalFilterFields]="['name', 'email','role']">
    <ng-template pTemplate="caption">
      <div class="flex">
          <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="w-full" #textInput (input)="dt1.filterGlobal(textInput.value, 'contains')" placeholder="Search keyword" />
          </span>
      </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr (click)="navigateToReport(user._id)">
            <td>{{ user.name }}</td>
        </tr>
    </ng-template>
</p-table>
  
</div>
