   input::file-selector-button {
    font-weight: bold;
    color: white;
    padding: 0.5em;
    border: none;
    background-color: var(--primarybg);
    border-radius: 1.5rem;
  }
  .UserImg {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .UserImg_Image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .UserImg_border {
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--bgProfile);
  }
  .linkText {
    width: 100%;
    font-size: 1.7rem;
    overflow-wrap: break-word;
    padding: 1rem;
    color: #0B2CDA;
  }
  .chooseFile{
    background-color: var(--btnColor);
  }
  .profile-borderShadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }