/* profile.component.css

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info {
    flex: 1;
  }
  
  h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .role {
    color: #666;
    margin: 0;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  
  .value {
    color: #333;
  }
   */

   input::file-selector-button {
    font-weight: bold;
    color: white;
    padding: 0.5em;
    border: none;
    background-color: var(--primarybg);
    border-radius: 1.5rem;
  }
  .UserImg {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .UserImg_Image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .UserImg_border {
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--bgProfile);
  }
  .linkText {
    width: 100%;
    font-size: 1.7rem;
    overflow-wrap: break-word;
    padding: 1rem;
    color: #0B2CDA;
  }
  .chooseFile{
    background-color: var(--btnColor);
  }