.dateSelcted{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: red;
}

.holidaySelected{
    pointer-events: none;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black;
    background-color: #FFD700;
}

::ng-deep .calendarStyle{
    width: 90vw;
    user-select: none;
}