<div class="flex w-full align-items-center px-2 h-3rem mbg-primary fixed top-0 z-2">
    <!-- <p-avatar [image]="userData.profilePic" shape="circle" (click)="isSidebarVisible=!isSidebarVisible" /> -->
    <i class="pi pi-bars text-xl text-white ml-0.375" (click)="isSidebarVisible=!isSidebarVisible"></i>
    </div>
    <div class="w-full h-3rem"></div>

<p-sidebar #sidebarRef [(visible)]="isSidebarVisible">
        <ng-template pTemplate="headless">
            <div class="flex flex-column h-full">
                <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0" >
                    <span class="flex flex-wrap align-items-center gap-2">
                        @if(userData.profilePic){
                            <p-avatar [image]="userData.profilePic" shape="circle" />
                            }@else{
                            <p-avatar image="../../assets/userProfile.jpg" shape="circle" />
                            }
                        <div>
                            <div class="font-semibold text-xl text-gray-600">{{userData.name}}</div>
                            <p class="m-0 text-700">{{userData.email}}</p>
                        </div> 
                    </span>
                    <span>
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none p-3 m-0">
                        <li>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li [routerLink]="['/dashboard']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-home mr-2"></i>
                                        <span class="font-medium">Home</span>
                                    </a>
                                </li>
                                <li [routerLink]="['/profile']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-user mr-2"></i>
                                        <span class="font-medium">Profile</span>
                                    </a>
                                </li>
                                <li [routerLink]="['/notice']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-envelope mr-2"></i>
                                        <span class="font-medium">Notice</span>
                                    </a>
                                </li>
                                <li [routerLink]="['/requestleave']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-send mr-2"></i>
                                        <span class="font-medium">Request Leave</span>
                                    </a>
                                </li>
                                <li [routerLink]="['/attendance']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-calendar mr-2"></i>
                                        <span class="font-medium">Attendance Report</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" (click)="signOut()">
                                        <i class="pi pi-sign-out mr-2"></i>
                                        <span class="font-bold">Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
</p-sidebar>

<p-dialog *ngIf="isMessageVisible" header="Notice"  [(visible)]="isMessageVisible" [modal]="true" [style]="{width: '95vw'}">
    <ng-container *ngIf="(noticeData$ | async) as noticeData">
    <div class="flex mt-3 w-full">
        @if(noticeData[0].profilePic){
        <p-avatar [image]="noticeData[0].profilePic" shape="circle" />
        }@else{
        <p-avatar image="../../assets/userProfile.jpg" shape="circle" />
        }
        <div class="w-full">
            <div class="flex justify-content-between w-full">
                <label for="name" class="font-bold px-2 mt-1">{{noticeData[0].name}}</label>
            </div>
            <p class="m-0 mt-2 p-2">{{noticeData[0].message}}</p>
            <div class="flex justify-content-end p-2 mt-3">
                <span class="text-sm text-400">{{noticeData[0].date | date}}</span>
            </div>
        </div>
    </div>
    </ng-container>
</p-dialog>

<router-outlet></router-outlet>
