<div class="header">
    <div class="header-option">{{todaysDate | date}}</div>
    <!-- <div class="header-option">Wagholi</div> -->
    <div class="header-option">{{ todaysDate| safeDate }} </div>
    <div> <i class="pi pi-sign-out text-bold" (click)="navigateToLogin()"></i></div>
</div>
    <div class="clock-action">
        @if(isClockIn=="clockin"){
        <button class="mclockin" (click)="clockIn()">Clock in</button>
        }@else if(isClockIn=="clockout") {
        <button class="mclockout" (click)="clockOut()">Clock out</button>
        }@else{
        <div>
            <h2 class="today">Today,</h2>
            <div class="hours">{{tableData[0].hours | decimalToTime }}</div>
        </div>
        }

    </div>
<div class="table-container">
    <app-mtable [tableData]="tableData"></app-mtable>
</div>
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
<p-dialog [header]="messageQuery.header" [(visible)]="isDialogVisible" [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [closable]="false" [resizable]="false">
    <p class="m-0 mt-4">
       {{messageQuery.message}}
    </p>
    <div class="flex justify-content-center mt-4">
        <button pButton label="Ok" class="commonButton" (click)="navigateToLogin()"></button>
    </div>
</p-dialog>